/* ==========================================================================
   Homepage
   ========================================================================== */

/* ---------------------------------------------
      Header
   --------------------------------------------- */


.navbar-default {
  background-color: #fff;
  border: none;

  .navbar-brand {
    background-color: #db373b;
    color: #fff;
    font-size: 30px;
    font-family: chunkFiveFont;
    padding: 20px 15px 40px;

    &:hover {
      background-color: #db373b;
      color: #fff;
    }
  }

  .navbar-nav {
    font-size: 22px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
}


/* ---------------------------------------------
      Slider
   --------------------------------------------- */

.slide-left {
  float: left;
  margin-left: 150px;
  margin-right: 25px;
  max-width: 40%;
  
  .product-info {
    float: left; 
    margin-bottom: 40px;
  }
  
  .ipad-sm-1 {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}


/* ---------------------------------------------
      Content
   --------------------------------------------- */

.content {
  margin-top: 25px;
  background: url('../img/content-bg.jpg');
  font-family: 'Droid Serif', serif;
  padding-top: 40px;
  padding-bottom: 40px;
  
  h2 {
    color: #fff;
    font-family: chunkFiveFont;
    font-size: 24px;
    margin-bottom: 25px;
  }

  .company {
    float: left;
    width: 60%;
    margin-right: 50px;

    p {
      color: #ececec;
    }

    span {
      font-style: italic;
    }
  }

  .blog {
    float: left;

    li {
      display: block;
      margin-bottom: 10px;
     
      .blog-date {
        position: relative;
        float: left;


        img {
          margin-right: 15px;
        }

        .month-day {
          color: #ececec;
          position: absolute;
          text-align: center;
          top: 15px;
          left: 15px;
        }
      }

      .blog-info {
         margin-top: 15px;
         float: left;

        .title {
          color: #555555;
        
        }
        .author {
          color: #ececec;
          
      
        }
      }
    }  
  }
}
/* ---------------------------------------------
      Footer
   --------------------------------------------- */

footer {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #1a1a1a;
  color: #fff;
  padding: 20px 0px 10px;

  .footer-left {
    float: left;
  }

  .footer-right {
    float: right;
    margin-bottom: 5px;

    li {
      // position: relative;
      display: inline-block;
      margin-right: 25px;
    }
  }
}


/* ---------------------------------------------
      UpScroll
   --------------------------------------------- */

.uparrow {
    background: url('../img/uparrow.png');
    cursor: pointer;
    width: 66px;
    height: 67px;
    position: fixed;
    bottom: 30px;
    right:30px;
    display:none;
}
