/* ==========================================================================
   Main Stylesheet
   ========================================================================== */
/* ==========================================================================
   Variables
   ========================================================================== */
/* ---------------------------------------------
      Color
   --------------------------------------------- */
/* ---------------------------------------------
      Mixins
   --------------------------------------------- */
/* ==========================================================================
   Typography
   ========================================================================== */
@font-face {
  font-family: chunkFiveFont;
  src: url(../fonts/Chunkfive.otf);
}
/* ==========================================================================
   Elements
   ========================================================================== */
/* ---------------------------------------------
			Buttons
   --------------------------------------------- */
.btn {
  background-color: blue;
  display: inline-block;
  text-decoration: none;
  color: #fff;
}
.btn:hover {
  color: blue;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid blue;
}
.btn-sm {
  padding: 20px;
}
/* ==========================================================================
   Layout
   ========================================================================== */
/* ==========================================================================
   Homepage
   ========================================================================== */
/* ---------------------------------------------
      Header
   --------------------------------------------- */
.navbar-default {
  background-color: #fff;
  border: none;
}
.navbar-default .navbar-brand {
  background-color: #db373b;
  color: #fff;
  font-size: 30px;
  font-family: chunkFiveFont;
  padding: 20px 15px 40px;
}
.navbar-default .navbar-brand:hover {
  background-color: #db373b;
  color: #fff;
}
.navbar-default .navbar-nav {
  font-size: 22px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
/* ---------------------------------------------
      Slider
   --------------------------------------------- */
.slide-left {
  float: left;
  margin-left: 150px;
  margin-right: 25px;
  max-width: 40%;
}
.slide-left .product-info {
  float: left;
  margin-bottom: 40px;
}
.slide-left .ipad-sm-1 {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
/* ---------------------------------------------
      Content
   --------------------------------------------- */
.content {
  margin-top: 25px;
  background: url('../img/content-bg.png');
  font-family: 'Droid Serif', serif;
  padding-top: 40px;
  padding-bottom: 60px;
}
.content h2 {
  color: #fff;
  font-family: chunkFiveFont;
  font-size: 24px;
  margin-bottom: 25px;
}
.content .company {
  float: left;
  width: 60%;
  margin-right: 50px;
}
.content .company p {
  color: #ececec;
}
.content .company span {
  font-style: italic;
}
.content .blog {
  float: left;
}
.content .blog li {
  display: block;
  margin-bottom: 10px;
}
.content .blog li .blog-date {
  position: relative;
  float: left;
}
.content .blog li .blog-date img {
  margin-right: 15px;
}
.content .blog li .blog-date .month-day {
  color: #ececec;
  position: absolute;
  text-align: center;
  top: 15px;
  left: 15px;
}
.content .blog li .blog-info {
  margin-top: 15px;
  float: left;
}
.content .blog li .blog-info .title {
  color: #555555;
}
.content .blog li .blog-info .author {
  color: #ececec;
}
/* ---------------------------------------------
      Footer
   --------------------------------------------- */
footer {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #1a1a1a;
  color: #fff;
  padding: 30px 0px;
}
footer .footer-left {
  float: left;
}
footer .footer-right {
  float: right;
  margin-bottom: 15px;
}
footer .footer-right li {
  display: inline-block;
  margin-right: 25px;
}
/* ---------------------------------------------
      UpScroll
   --------------------------------------------- */
.uparrow {
  background: url('../img/uparrow.png');
  cursor: pointer;
  width: 66px;
  height: 67px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: none;
}
/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet 
   480-less    - phone landscape & smaller

   Also, may modify and just make breakpoints where site goes wrong.
--------------------------------------------*/
@media all and (max-width: 991px) {
  .flexslider .ipad-sm {
    display: none;
  }
  .flexslider .slide-left {
    float: left;
    margin-left: 100px;
    margin-right: 0px;
    max-width: 70%;
  }
  .flexslider .slide-right {
    margin-left: 120px;
  }
  .content .company,
  .content .blog {
    left: 15%;
    position: relative;
  }
  footer .footer-right {
    float: none;
  }
  footer .footer-right ul {
    text-align: center;
  }
  footer .footer-left {
    float: none;
    text-align: center;
  }
}
@media all and (max-width: 600px) {
  .flexslider .slide-left {
    float: left;
    margin-left: 20px;
    max-width: 90%;
  }
  .flexslider .slide-right {
    margin-left: 0px;
  }
}
/*-------------------------------------------------------------------------------*/
/* Portrait */
@media screen and (orientation: portrait) {
  /* Portrait styles here */
}
/* Landscape */
@media screen and (orientation: landscape) {
  /* Landscape styles here */
}
/* Non-Retina */
/* Retina */
